In [3]:
import pandas as pd
import datetime
from datetime import datetime, timezone

In [23]:
dam_df = pd.read_csv('japan_damage.csv')
dam_df.tail()
#create the dataframe

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
65,1961-0061-JPN,1961,61,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.213964,NaN,NaN,NaN,NaN
66,1973-0150-JPN,1973,150,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,5000.0,32957.0,15.171453,NaN,NaN,NaN,NaN
67,2021-0105-JPN,2021,105,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,2300000.0,2484064.0,7700000.0,8316216.0,92.590193,2,NaN,33868,Namiemati (Adm2).
68,2021-0194-JPN,2021,194,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,550000.0,594015.0,92.590193,1,1651;1652;1653;1655;1657;1658;1659;1660;1662;1...,NaN,"Aiti, Akita, Aomori, Gifu, Gunma, Hirosima, Hu..."
69,2022-0153-JPN,2022,153,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,2800000.0,2800000.0,8800000.0,8800000.0,100.000000,NaN,NaN,NaN,NaN

In [24]:
dam_df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'AID Contribution ('000 US$)', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [25]:
dam_df = dam_df.drop(columns = ['Dis No', 'Country', 'Disaster Subtype', 'Region', 'No Affected', 'Seq', 'Glide','Event Name', 'ISO', 'Continent','Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response','Appeal', 'Declaration', "AID Contribution ('000 US$)", 'River Basin','End Year', 'End Month','End Day', 'CPI','Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'])
#drop uneccessary columns

In [26]:
dam_df

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,...,Total Deaths,No Injured,No Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)"
0,1901,Natural,Geophysical,Earthquake,NaN,Sanriku,8.0,Richter,40.5,142.5,...,18.0,NaN,24.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1905,Natural,Geophysical,Earthquake,NaN,Fukushima,7.0,Richter,37.4,142.6,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1914,Natural,Geophysical,Earthquake,NaN,Akita Senboku,7.0,Richter,39.2,139.8,...,94.0,NaN,1920.0,1920.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1923,Natural,Geophysical,Earthquake,NaN,"Kanto plaine (Yokohama,Tokyo)",8.0,Richter,35.413,139.298,...,143000.0,103733.0,NaN,203733.0,NaN,NaN,NaN,NaN,600000.0,10282909.0
4,1927,Natural,Geophysical,Earthquake,NaN,"Tango, Honshu",7.0,Richter,35.632,135.013,...,3022.0,3295.0,46782.0,79540.0,NaN,NaN,NaN,NaN,40000.0,672395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1961,Natural,Geophysical,Earthquake,NaN,Honshu,7.0,Richter,36,136.7,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,1973,Natural,Geophysical,Earthquake,NaN,Hokkaido Isl.,8.0,Richter,43.233,145.785,...,NaN,27.0,NaN,27.0,NaN,NaN,NaN,NaN,5000.0,32957.0
67,2021,Natural,Geophysical,Earthquake,NaN,Namie region,7.0,Richter,37.745,141.749,...,1.0,185.0,60.0,7892.0,NaN,NaN,2300000.0,2484064.0,7700000.0,8316216.0
68,2021,Natural,Geophysical,Earthquake,NaN,Honshu Island,7.0,Richter,38.475,141.633,...,NaN,11.0,NaN,611.0,NaN,NaN,NaN,NaN,550000.0,594015.0
69,2022,Natural,Geophysical,Earthquake,NaN,Fukushima Prefecture,7.0,Richter,37.702,141.587,...,3.0,183.0,NaN,741.0,NaN,NaN,2800000.0,2800000.0,8800000.0,8800000.0

In [27]:
na_values = dam_df['No Injured'].isna() & dam_df['No Homeless'].isna()
# we create a variable which will show us NA values in both no inhured and no homeless

###### We want to see which rows have a NAN values for both 'NO INJURED' and 'NO HOMELESS'. Our goal is to remove (drop) such rows

In [28]:
dam_df[na_values]
# to see the dataframe with the NAN values

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,...,Total Deaths,No Injured,No Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)"
1,1905,Natural,Geophysical,Earthquake,NaN,Fukushima,7.0,Richter,37.4,142.6,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1933,Natural,Geophysical,Earthquake,NaN,Sanriku,8.0,Richter,39.224,144.622,...,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1946,Natural,Geophysical,Earthquake,NaN,"Nankaido, Tonankai (Honshu Isl.)",8.0,Richter,33.116,135.895,...,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1960,Natural,Geophysical,Earthquake,NaN,"Onagawa, Honshu Island",NaN,Richter,NaN,NaN,...,138.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140000.0,1385348.0
23,1984,Natural,Geophysical,Earthquake,NaN,"Honshu, Nagano prefecture (Honshu)",7.0,Richter,36.39 N,138.10 E,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43000.0,121137.0
34,2000,Natural,Geophysical,Earthquake,NaN,"Koodusimamura, Niizimamura districts (Tookyoo ...",6.0,Richter,34.221,139.131,...,1.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN
58,1905,Natural,Geophysical,Earthquake,NaN,Aki,8.0,Richter,34,132,...,11.0,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN,NaN
61,1922,Natural,Geophysical,Earthquake,NaN,Kyushu,NaN,Richter,32.7,130.3,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,1961,Natural,Geophysical,Earthquake,NaN,Honshu,7.0,Richter,36,136.7,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
dam_df = dam_df.dropna(subset = ['No Injured', 'No Homeless'], how = 'all')
# Drop the NAN values for no injured and no homeless

In [30]:
dam_df.columns

Index(['Year', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subsubtype', 'Location', 'Dis Mag Value', 'Dis Mag Scale',
       'Latitude', 'Longitude', 'Local Time', 'Start Year', 'Start Month',
       'Start Day', 'Total Deaths', 'No Injured', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)'],
      dtype='object')

In [31]:
dam_df = dam_df.drop(columns = ["Reconstruction Costs ('000 US$)", "Reconstruction Costs, Adjusted ('000 US$)", "Insured Damages ('000 US$)", "Insured Damages, Adjusted ('000 US$)", "Total Damages ('000 US$)"])
#dropping more columns which we don't need

In [29]:
dam_df.to_csv('japan_damage_updated.csv', index = False)
# We will save this Data Frame to a new one 
# so we can see how the updated excel file looks like

#### We still have many values which are NAN. Our goal is to make sure the dataset doesn't have any missing values. This will be tackled in 2 steps:

#### 1). Do some research about the earthquakes and fill the dataset manually. This is a base step in Data Collection. Since the data dates back to 1900, it is common for some important values to be missing. This can be due to data not being recorded, or the data was lost in history.

#### 2). The second step is to fill any missing values which we cannot find through self research. We will use statistical tools to generate average values based on factors such as deaths, magnitude and year.

In [32]:
df_new = pd.read_csv('japan_damage_updated1.csv')

#### NOTE: We manually updated some values in japan_damage_updated.csv file. We saved it as japan_damage_updated1.csv because if we overwrote it here then it could cause issues in our code. So to make it simple we continued our work in a seperate file.

In [33]:
df_new.head()

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
0,1901,Natural,Geophysical,Earthquake,NaN,Sanriku,8,Richter,40.5,142.5,03:33,1901,8,10,18,0.0,24.0,42,NaN
1,1914,Natural,Geophysical,Earthquake,NaN,Akita Senboku,7,Richter,39.2,139.8,05:00,1914,3,16,94,324.0,1920.0,2338,NaN
2,1923,Natural,Geophysical,Earthquake,NaN,"Kanto plaine (Yokohama,Tokyo)",8,Richter,35.413,139.298,11:58,1923,9,1,143000,103733.0,NaN,246733,10282909.0
3,1927,Natural,Geophysical,Earthquake,NaN,"Tango, Honshu",7,Richter,35.632,135.013,18:27,1927,3,7,3022,3295.0,46782.0,53099,672395.0
4,1930,Natural,Geophysical,Earthquake,NaN,Idu (Honshu),7,Richter,35.05,139.129,04:02,1930,11,26,259,1825.0,24297.0,26381,NaN

In [34]:
df_new = df_new.sort_values('Year')

#### Checking for any NAN values and filling them through Pandas.

In [35]:
x = df_new['No Injured'].isnull()
df_new[x]

# we just created a value 'x' to check all the missing values.

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
52,1909,Natural,Geophysical,Earthquake,NaN,Oomi,7,Richter,35.4,136.3,15:30,1909,8,14,41,NaN,2928.0,2969,NaN
53,1911,Natural,Geophysical,Earthquake,NaN,Ryukyu Islands,8,Richter,28,130,23:26,1911,6,15,12,NaN,1266.0,1278,NaN
54,1925,Natural,Geophysical,Earthquake,NaN,Tajima (Honshu),7,Richter,35.423,135.007,11:09,1925,5,23,395,NaN,9999.0,10394,NaN
5,1943,Natural,Geophysical,Earthquake,NaN,Tottori (Honshu Isl.),7,Richter,35.448,133.993,17:37,1943,9,10,1400,NaN,23217.0,24617,NaN

In [36]:
fill_nan1 = df_new[(df_new['Year']<1944) & (df_new['No Injured']<4000)]
fill_nan1

# This will make a new dataframe which will only show rows which have
# year < 1944 & No injured < 4000

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
0,1901,Natural,Geophysical,Earthquake,NaN,Sanriku,8,Richter,40.5,142.5,03:33,1901,8,10,18,0.0,24.0,42,NaN
1,1914,Natural,Geophysical,Earthquake,NaN,Akita Senboku,7,Richter,39.2,139.8,05:00,1914,3,16,94,324.0,1920.0,2338,NaN
3,1927,Natural,Geophysical,Earthquake,NaN,"Tango, Honshu",7,Richter,35.632,135.013,18:27,1927,3,7,3022,3295.0,46782.0,53099,672395.0
4,1930,Natural,Geophysical,Earthquake,NaN,Idu (Honshu),7,Richter,35.05,139.129,04:02,1930,11,26,259,1825.0,24297.0,26381,NaN
55,1939,Natural,Geophysical,Earthquake,NaN,Honshu,7,Richter,39.945,139.682,14:58,1939,5,1,27,52.0,1437.0,1516,NaN

### NOTE: The reason we created the filter of year before 1944 and injured less than 4000 is because we see the data and the only NAN vallues for injured belong to the eariest years in our dataset. I did not want to take an average of the whole dataset as it could create issues with the mean value, which is why I took the mean with the condition described so it would make sure the dataset has some normality.  If we were to remove the second condition then the mean will be almost 18000 due to the 1923 earthquake which injured over 103000 people.

In [37]:
mean_injuries = fill_nan1['No Injured'].mean()
mean_injuries
# This gives us our mean injuries which is 1099.2 and we used this value and filled it with the nan values for injured.

1099.2

In [38]:
df_new['No Injured'] = df_new['No Injured'].fillna(mean_injuries)
# The mean injuries have filled nan values of no injured

In [41]:
x = df_new['No Injured'].isnull()
df_new[x]
#This shows that we filled all nan values for No of Injured.

Empty DataFrame
Columns: [Year, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subsubtype, Location, Dis Mag Value, Dis Mag Scale, Latitude, Longitude, Local Time, Start Year, Start Month, Start Day, Total Deaths, No Injured, No Homeless, Total Affected, Total Damages, Adjusted ('000 US$)]
Index: []

### Now we will do the same for all remaining NAN values. We will either take average of the whole column or take average with certain conditions so that we can get a more accurate result.

In [44]:
cost_na_check = df_new["Total Damages, Adjusted ('000 US$)"].isna()
# make new df only showing NA values
df_new[cost_na_check]
# show the DF with NA only for total damages, which is the cost after an earthquake.

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
0,1901,Natural,Geophysical,Earthquake,NaN,Sanriku,8,Richter,40.5,142.5,03:33,1901,8,10,18,0.0,24.0,42,NaN
52,1909,Natural,Geophysical,Earthquake,NaN,Oomi,7,Richter,35.4,136.3,15:30,1909,8,14,41,1099.2,2928.0,2969,NaN
53,1911,Natural,Geophysical,Earthquake,NaN,Ryukyu Islands,8,Richter,28,130,23:26,1911,6,15,12,1099.2,1266.0,1278,NaN
1,1914,Natural,Geophysical,Earthquake,NaN,Akita Senboku,7,Richter,39.2,139.8,05:00,1914,3,16,94,324.0,1920.0,2338,NaN
54,1925,Natural,Geophysical,Earthquake,NaN,Tajima (Honshu),7,Richter,35.423,135.007,11:09,1925,5,23,395,1099.2,9999.0,10394,NaN
4,1930,Natural,Geophysical,Earthquake,NaN,Idu (Honshu),7,Richter,35.05,139.129,04:02,1930,11,26,259,1825.0,24297.0,26381,NaN
55,1939,Natural,Geophysical,Earthquake,NaN,Honshu,7,Richter,39.945,139.682,14:58,1939,5,1,27,52.0,1437.0,1516,NaN
5,1943,Natural,Geophysical,Earthquake,NaN,Tottori (Honshu Isl.),7,Richter,35.448,133.993,17:37,1943,9,10,1400,1099.2,23217.0,24617,NaN
6,1944,Natural,Geophysical,Earthquake,NaN,"Tonankai, Hondo",8,Richter,33.682,36.204,13:35,1944,12,7,1223,2135.0,78438.0,81796,NaN
7,1945,Natural,Geophysical,Earthquake,NaN,"Mikawa (Near Nagoya, Honshu Isl.)",7,Richter,34.612,137.064,03:38,1945,1,13,2306,896.0,21663.0,24865,NaN
9,1952,Natural,Geophysical,Earthquake,NaN,Hokkaido Isl.,8,Richter,42.084,143.899,10:22,1952,3,4,33,200.0,NaN,233,NaN
56,1952,Natural,Geophysical,Earthquake,NaN,Hokkaido,7,Richter,41.831,143.525,02:03,1952,3,10,94,17.0,339.0,450,NaN
12,1974,Natural,Geophysical,Earthquake,NaN,"Izu-Hanto, Nakagi",7,Richter,34.522,138.74,08:33,1974,5,9,30,73.0,NaN,103,NaN
13,1978,Natural,Geophysical,Earthquake,NaN,"Oshima, Yokohama, Tokkaido",7,Richter,34.809,139.259,12:24,1978,1,14,25,129.0,255.0,409,NaN
17,1983,Natural,Geophysical,Earthquake,NaN,Near South coast Honshu,5,Richter,35.5,139.07,12:47,1983,8,8,1,28.0,NaN,29,NaN
19,1984,Natural,Geophysical,Earthquake,NaN,Kyushu (Shikoku Island),7,Richter,32.50 N,130.42 E,NaN,1984,8,6,0,9.0,204000.0,204009,NaN
20,1987,Natural,Geophysical,Earthquake,NaN,Chiba prefecture (Near Tokyo),6,Richter,35.38,140.214,11:08,1987,12,17,2,53.0,NaN,55,NaN
21,1992,Natural,Geophysical,Earthquake,NaN,Kanto area (Tokyo),6,Richter,35.106 N,139.644 E,NaN,1992,2,2,0,32.0,0.0,32,NaN
24,1994,Natural,Geophysical,Earthquake,NaN,East coast of Hokaido Isl.,8,Richter,45.10 N,147.51 E,NaN,1994,10,4,5,1500.0,NaN,1505,NaN
27,1995,Natural,Geophysical,Earthquake,NaN,Niigata (Eastern Honshu),5,Richter,37.925 N,139.186 E,NaN,1995,4,1,39,39.0,NaN,78,NaN
35,2005,Natural,Geophysical,Earthquake,NaN,"Hukuoka, Saga provinces",6,Richter,33.637,130.179,NaN,2005,4,19,1,58.0,1125.0,1184,NaN
38,2007,Natural,Geophysical,Earthquake,NaN,"Mie, Nara, Siga provinces",5,Richter,34.807,136.239,NaN,2007,4,15,0,12.0,315.0,327,NaN
41,2011,Natural,Geophysical,Earthquake,NaN,"Ishinomakisi, Onagawatyoo districts (Miyagi pr...",7,Richter,38.276,141.588,23:32,2011,4,7,2,132.0,NaN,134,NaN
44,2013,Natural,Geophysical,Earthquake,NaN,Hyogo province,6,Richter,34.369,134.828,05:33,2013,4,12,25,32.0,9560.0,9617,NaN
51,2019,Natural,Geophysical,Earthquake,NaN,"Yamagata, Miyagi, Niigata,Ishikawa (Honshu Isl...",6,Richter,38.637,139.48,NaN,2019,6,18,0,28.0,0.0,28,NaN

In [30]:
dam_df['Dis Mag Value'].value_counts()

Dis Mag Value
7.0    34
8.0    12
6.0    11
5.0     3
9.0     1
Name: count, dtype: int64

In [48]:
cost = df_new[(df_new['Dis Mag Value']<7)]
# make variable cost which is only taking data from magnitude < 7
cost

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
15,1980,Natural,Geophysical,Earthquake,NaN,"Tokyo, Kanto region",6,Richter,35.45,139.964,02:54,1980,9,25,2,73.0,NaN,75,3551.0
17,1983,Natural,Geophysical,Earthquake,NaN,Near South coast Honshu,5,Richter,35.5,139.07,12:47,1983,8,8,1,28.0,NaN,29,NaN
20,1987,Natural,Geophysical,Earthquake,NaN,Chiba prefecture (Near Tokyo),6,Richter,35.38,140.214,11:08,1987,12,17,2,53.0,NaN,55,NaN
21,1992,Natural,Geophysical,Earthquake,NaN,Kanto area (Tokyo),6,Richter,35.106 N,139.644 E,NaN,1992,2,2,0,32.0,0.0,32,NaN
27,1995,Natural,Geophysical,Earthquake,NaN,Niigata (Eastern Honshu),5,Richter,37.925 N,139.186 E,NaN,1995,4,1,39,39.0,NaN,78,NaN
32,2003,Natural,Geophysical,Earthquake,NaN,"Sendaisi_Aobaku, Sendaisi_Daisiroku, Sendaisi_...",6,Richter,38.432,141.003,07:13,2003,7,25,0,569.0,219.0,788,653850.0
35,2005,Natural,Geophysical,Earthquake,NaN,"Hukuoka, Saga provinces",6,Richter,33.637,130.179,NaN,2005,4,19,1,58.0,1125.0,1184,NaN
38,2007,Natural,Geophysical,Earthquake,NaN,"Mie, Nara, Siga provinces",5,Richter,34.807,136.239,NaN,2007,4,15,0,12.0,315.0,327,NaN
42,2009,Natural,Geophysical,Earthquake,NaN,"Sizuokasi, Yaidusi, Sagaratyoo, Huziedasi, Sim...",6,Richter,34.743,138.264,05:07,2009,8,10,1,319.0,NaN,320,545649.0
44,2013,Natural,Geophysical,Earthquake,NaN,Hyogo province,6,Richter,34.369,134.828,05:33,2013,4,12,25,32.0,9560.0,9617,NaN
45,2014,Natural,Geophysical,Earthquake,NaN,"Hakuba village (Hakubamura district, Nagano pr...",6,Richter,36.6408,137.8875,22:08,2014,11,22,0,41.0,150.0,191,2472.0
48,2016,Natural,Geophysical,Earthquake,NaN,"Kurayoshi city (Kurayosisi district, Tottori p...",6,Richter,35.37,133.812,NaN,2016,10,21,0,7.0,6.0,13,121936.0
50,2018,Natural,Geophysical,Earthquake,NaN,"Hyogo, Kyoto, Nara, Osaka Prefectures",6,Richter,34.826,135.64,07:58,2018,6,18,5,417.0,NaN,422,3787745.0
51,2019,Natural,Geophysical,Earthquake,NaN,"Yamagata, Miyagi, Niigata,Ishikawa (Honshu Isl...",6,Richter,38.637,139.48,NaN,2019,6,18,0,28.0,0.0,28,NaN

### NOTE: We have to fill the NAN values for cost but we will not take a single average. The reson is cause a lower magnitude (5,6) would have a different cost damage than a magnitude 7 or above. This is why we will create two new variables based on magnitude less than 7, and (7 and above).

In [49]:
cost1 = df_new[(df_new['Dis Mag Value']<7)]
cost2 = df_new[(df_new['Dis Mag Value']>=7)]
# two variables are created based on the condition


#### We have created 2 dataframes cost1 and cost2 based on the condition the the magnitude value should be less than 7 and equal or more than 7. Through this we can get better cost average as a higher magnitude might have a higer cost in damages compared to a low magnitude earthquake.

In [50]:
print(cost1['Year'].count())
print(cost2['Year'].count())
# To see if the total is equal to 61 which is True

14
47

In [51]:
cost1_avg = cost1["Total Damages, Adjusted ('000 US$)"].mean().round()
print('cost1 average is: ', cost1_avg)
cost2_avg = cost2["Total Damages, Adjusted ('000 US$)"].mean().round()
print('cost2 average is: ', cost2_avg)


# We took the average of total damages in both Dataframes cost1 and cost2

cost1 average is:  852534.0
cost2 average is:  22014776.0

In [52]:
cost1["Total Damages, Adjusted ('000 US$)"] = cost1["Total Damages, Adjusted ('000 US$)"].fillna(cost1_avg)

# replace the NAN values of cost1 with the average of its table

C:\Users\khans71\AppData\Local\Temp\ipykernel_11712\2335875818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cost1["Total Damages, Adjusted ('000 US$)"] = cost1["Total Damages, Adjusted ('000 US$)"].fillna(cost1_avg)

In [53]:
cost2["Total Damages, Adjusted ('000 US$)"] = cost2["Total Damages, Adjusted ('000 US$)"].fillna(cost2_avg)

# replace the NAN values of cost2 with the average of its table

C:\Users\khans71\AppData\Local\Temp\ipykernel_11712\3256502250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cost2["Total Damages, Adjusted ('000 US$)"] = cost2["Total Damages, Adjusted ('000 US$)"].fillna(cost2_avg)

#### So now we have filled the Total Damages column by  filtering it through magnitude intensity, we will just concat it and use that dataframe.

In [54]:
#df_merged = cost1.concat(cost2, ignore_index=True)

df_merged = pd.concat([cost1, cost2], axis = 0)

# We will merge the two tables into one. 
# This way the cost values have been updated

In [57]:
df_merged.head() # This is our new dataset which has no NAN values in cost and Injured.

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
15,1980,Natural,Geophysical,Earthquake,NaN,"Tokyo, Kanto region",6,Richter,35.45,139.964,02:54,1980,9,25,2,73.0,NaN,75,3551.0
17,1983,Natural,Geophysical,Earthquake,NaN,Near South coast Honshu,5,Richter,35.5,139.07,12:47,1983,8,8,1,28.0,NaN,29,852534.0
20,1987,Natural,Geophysical,Earthquake,NaN,Chiba prefecture (Near Tokyo),6,Richter,35.38,140.214,11:08,1987,12,17,2,53.0,NaN,55,852534.0
21,1992,Natural,Geophysical,Earthquake,NaN,Kanto area (Tokyo),6,Richter,35.106 N,139.644 E,NaN,1992,2,2,0,32.0,0.0,32,852534.0
27,1995,Natural,Geophysical,Earthquake,NaN,Niigata (Eastern Honshu),5,Richter,37.925 N,139.186 E,NaN,1995,4,1,39,39.0,NaN,78,852534.0

In [58]:
test = df_merged["Total Damages, Adjusted ('000 US$)"].isna()
df_merged[test] # We checked and see no NAN values in this dataframe for damages

Empty DataFrame
Columns: [Year, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subsubtype, Location, Dis Mag Value, Dis Mag Scale, Latitude, Longitude, Local Time, Start Year, Start Month, Start Day, Total Deaths, No Injured, No Homeless, Total Affected, Total Damages, Adjusted ('000 US$)]
Index: []

## We will use the same method to fill values for no of Homeless. We will again seperate the table in regards to magnitude

In [59]:
home1 = df_merged[(df_merged['Dis Mag Value']<7)]
home2 = df_merged[(df_merged['Dis Mag Value']>=7)]
# create 2 datadets based on the magnitude filter


home1_avg = home1["No Homeless"].mean().round()
print('Homeless average is: ', home1_avg)
home2_avg = home2["No Homeless"].mean().round()
print('Homeless average is: ', home2_avg)

# We took the average of total damages in both Dataframes cost1 and cost2


home1["No Homeless"] = home1["No Homeless"].fillna(home1_avg)
home2["No Homeless"] = home2["No Homeless"].fillna(home2_avg)

damage_final= pd.concat([home1, home2], axis = 0)

Homeless average is:  1422.0
Homeless average is:  42054.0

C:\Users\khans71\AppData\Local\Temp\ipykernel_11712\3270229184.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home1["No Homeless"] = home1["No Homeless"].fillna(home1_avg)
C:\Users\khans71\AppData\Local\Temp\ipykernel_11712\3270229184.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home2["No Homeless"] = home2["No Homeless"].fillna(home2_avg)

### NOTE: The same process was done to fill nan values of homeless using the same concept that low magnitude earthquake would cause lower homelessness compared to a high magnitude earthquake.

In [67]:
test2 = damage_final["No Homeless"].isna()
damage_final[test2]

# all columns have been checked and none have NAN values

Empty DataFrame
Columns: [Year, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subsubtype, Location, Dis Mag Value, Dis Mag Scale, Latitude, Longitude, Local Time, Start Year, Start Month, Start Day, Total Deaths, No Injured, No Homeless, Total Affected, Total Damages, Adjusted ('000 US$)]
Index: []

### NOTE: We need to make one final change in the DataFrame. the column Total Affected is a sum of deaths, injured and homeless. Since we have updated the value of the total Homeless, we will need to recalculate the sum of the three columns. 

#### To make it simple, we will first drop the existing column "Total Affected" and then create  a new one through pandas which will reflect the updated values.

In [68]:
damage_final = damage_final.drop(columns = ['Total Affected'])

# first we drop the column

In [69]:
damage_final['Total Affected'] = damage_final['Total Deaths'] + damage_final['No Injured'] + damage_final['No Homeless']

# Then we create it again which will be sum of three columns

In [70]:
cols = list(damage_final.columns)
# Make our headings into a list

damage_final = damage_final[cols[0:17] + [cols[-1]] + [cols[17]]]
# Through this we can rearrange our columns to that total affected is not at the end

In [71]:
damage_final = damage_final.sort_values('Year')
# Sort the dataframe by year

In [72]:
#damage_final = damage_final.drop(columns = ['Disaster Subsubtype'])

damage_final = damage_final.drop(columns = ['Local Time'])
#Drop Local time and Disaster Subsubtype as they are not useful to us

In [73]:
# We will check if any rows have NAN values

check = damage_final["Latitude"].isna()
damage_final[check]

# We can see that one row has NAN value in Longitude and Latitude.
# We will simply remove this one row as we cannot take average or fill the cells

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subsubtype,Location,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Start Year,Start Month,Start Day,Total Deaths,No Injured,No Homeless,Total Affected,"Total Damages, Adjusted ('000 US$)"
49,2018,Natural,Geophysical,Earthquake,NaN,"Atsuma village, Abira, Sapporo (Hokkaido)",7,Richter,NaN,NaN,2018,9,6,41,680.0,42054.0,42775.0,1456825.0

In [74]:
damage_final=damage_final.dropna(subset=['Latitude','Longitude'])

# Now all NAN values have been removed.

### All the NAN values have been removed and the data cleaning has been finished. A recap to what we did:

#### 1). Removed unneccessary columns so that we can use the data columns we need


#### 2). Updated NAN values by either manually updating the datafile on Excel and also taking average of values which could not be manually updated. 



#### 3). The averages were taken in a certain way that we get close to actual approximate values. The reason to do this was for example a less magnitude earthquake might cause less amount of damage or make less people homeless compared to an earthquake of higher magnitude.



#### 4).  Created a new total of affected people as the previous total would not be accurate since we updated values in total homeless.

In [78]:
damage_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 60
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                60 non-null     int64
 1   Disaster Group                      60 non-null     object
 2   Disaster Subgroup                   60 non-null     object
 3   Disaster Type                       60 non-null     object
 4   Disaster Subsubtype                 0 non-null      float64
 5   Location                            60 non-null     object
 6   Dis Mag Value                       60 non-null     int64
 7   Dis Mag Scale                       60 non-null     object
 8   Latitude                            60 non-null     object
 9   Longitude                           60 non-null     object
 10  Start Year                          60 non-null     int64
 11  Start Month                         60 non-null     int64
 12  Start Day                           60 non-null     int64
 13  Total Deaths                        60 non-null     int64
 14  No Injured                          60 non-null     float64
 15  No Homeless                         60 non-null     float64
 16  Total Affected                      60 non-null     float64
 17  Total Damages, Adjusted ('000 US$)  60 non-null     float64
dtypes: float64(5), int64(6), object(7)
memory usage: 8.9+ KB

##### Now we will save our final updated dataframe in a new csv file and we will name it "comp_dam_data.csv". We will use pyhton Libraries such as Matplotlib, and Pandas to perform some data analysis on this dataset.

In [80]:
damage_final.to_csv('Japan_damage_clean.csv', index = False)